################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/build
/source/out
/source/.idea
/source/cmake-build-debug
/.vs
